li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}


div.modal-content {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 500px;
    height:auto;
    padding: 15px;
}

.custom-modal-container {
    width: 100%;
}

.form-horizontal .control-label {
    text-align: left;
}

tr.active td {
    background: skyblue !important;
}

.hidden  {
    display: none;
}

 #chat
 {
 position:absolute;
 width:300px;
 height:auto;
 padding:10px;
 background:#337ab7;
 color:#EDEDED;
 text-align:center;
 font-family:Cambria;
 font-size:20px;
 bottom:0px;
 right:15px;
 cursor:pointer;
 }
 #chatBox
 {
 display:none;
 position:absolute;
 width:300px;
 height:300px;
 background:white;
 color: black;
 box-shadow:0 0 0.1em #000;
 text-align:center;
 font-family:Cambria;
 font-size:20px;
 bottom:0px;
 right:15px;
 cursor:pointer;
 }
 #closeChat
 {
 position:absolute;
 width:15px;
 height:15px;
 padding:6px 5px 10px 5px;
 text-align:center;
 font-family:Cambria;
 right:0px;top:0px;
 }

     #form1 {
      padding: 3px;
    position: fixed;
    bottom: 0;
    width: 300px;
    border: 1px solid;
    height: 36px;
    }
    
    #form1 input {
         width: 235px;
         height: 100%;
        float: left;
    }
    
    #form1 button {
      width: 56px;
    background: rgb(130, 224, 255);
    border: none;
    /* padding: 10px; */
    float: right;
    }
    
    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    #messages li {
      padding: 5px 10px;
    }
    
    #messages li:nth-child(odd) {
      background: #eee;
    }
    
    #messages {
      margin-bottom: 40px
    }
